.Footer {
    background-color: transparent;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Set a high z-index to ensure it appears above other elements */
}
